<!DOCTYPE html>
<!-- Declare entire website as an angular application which we named sortingApp -->
<html lang="en" ng-app="sortingApp">
  <head>
    <!-- Google Sign in required information -->
    <meta name="google-signin-scope" content="profile email">
    <!-- Specify Google Client ID -->
    <!-- Replace YOUR_CLIENT_ID in the line below -->
    <!-- <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"> -->
    
    <meta name="google-signin-client_id" content="675406248196-d9jaiq867t6e0lfdi47ps0r398imc2ce.apps.googleusercontent.com">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="icon" type="image/png" href="../static/images/cu_favicon.png"/>

    <!-- Title of each different page (partial) can be modified in js/config/routing.js -->
    <title ng-bind="title"></title>

    <!-- Jquery and Materialize  -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/jquery.are-you-sure.js"></script>
    <script src="../static/js/materialize/materialize.min.js"></script>
    <script src="../static/js/init.js"></script>

    <!-- Load Material Icons from Google for Navigation Bar-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize CSS  -->
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css" />
    <link href="../static/css/custom.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  </head>

  <body>
    <!-- Added Header Tag for Sticky Footer -->
    <header>
      <!-- Navigation Bar Code  -->

      <!-- <div class="navbar-fixed"> -->
        <nav role="navigation" ng-controller="headerController">

          <div class="nav-wrapper container">
            <!-- Navigation Bar Logo -->
            <a href="#/" class="brand-logo"><img src="../static/images/whitehatlogo.png">Sorting Hat</a>
            <!-- Navigation Bar Items -->
            <ul class="right hide-on-med-and-down">
              <!-- Navigation Bar Items are loaded from the headerController -->
              <div compile="isLoggedIn()"></div> 
            </ul>

            <!-- Condensed Navbar Links-->
            <ul id="nav-mobile" class="side-nav">
              <div compile="isLoggedIn()"></div> 
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
        </nav>
      <!-- </div> -->
    </header>

    <!-- Added main tag for sticky footer functionality-->
    <!-- mainController loaded, acts as a global scope if needed -->
    <main ng-controller="mainController">
      <!-- Main page content -->
      
       <div ng-view></div>
       <!-- this is where content will be injected -->
         
    </main>

    <!-- Page Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
        <!-- Content for the top section of footer goes here -->
        </div>
      </div>
      <div class="footer-copyright ">
        <!-- Content for bottom section of footer goes here  -->
        <div class="container">
        <p> Designed and built with &#10084 by Team Champion. Check out our <a href="https://github.com/jeor0980/TeamChampion">Github Project Repo</a> </p>
        </div>
      </div>
    </footer>

    <script>
      //Code for collapsible mobile navbar
      $('.button-collapse').sideNav({
          // menuWidth: 300, // Default is 300
          // edge: 'right', // Choose the horizontal origin
          closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
        }
      );
    </script>



    <!-- Scripts, loaded at the end as good practice -->
    <!-- Needed AngularJS and Angular Route -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    
    <!-- Our own scripts for our application -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/directives/compile.js"></script>
    <script src="/static/js/services/userInformation.js"></script>
    <script src="/static/js/services/surveyResults.js"></script>
    <script src="/static/js/services/surveyQuestions.js"></script>
    <script src="/static/js/services/projectInformation.js"></script>
    <script src="/static/js/config/routing.js"></script>
    <script src="/static/js/controllers/main.js"></script>

    <script src="/static/js/controllers/createSurvey.js"></script>
    <script src="/static/js/controllers/projectsInput.js"></script>
    <script src="/static/js/controllers/takeSurvey.js"></script>

    <script src="../static/js/angular/ng-file-upload.min.js"></script>
    <script src="../static/js/angular/ng-file-upload-shim.min.js"></script>




    <!-- Google API -->
    <!-- You must include the Google Platform Library on your web pages that integrate Google Sign-In. -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
