<!-- about.html -->

<div class="container">
	<h4>About Us</h4>
	<h5>Project Description</h5>
	<p>Team Champion's Sorting Hat is a web-based application sponsored by the University of Colorado senior capstone instructors. Sorting Hat provides a streamlined approach to creating groups for the yearlong capstone project based upon group specification and various user data. It utilizes an algorithm based upon the Gale-Shapley stable marriage solution and displays the compiled groups in a simple to use web interface.</p>


</div>


