<h1>Create a New Survey</h1>

<p>{{ message }}</p>

<form name="createSurveyForm" ng-submit="sendSurvey()" method="POST">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" ng-model="firstName" class="form-control" required />
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" ng-model="lastName" class="form-control" required />
  </div>
  
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" name="email" ng-model="email" class="form-control" required />
  </div>

  <div class="form-group">
    <label for="projectList">First Choice Project</label>
    <select name="projectList" ng-model="projectList" ng-options="item for item in firstProj" class="browser-default" required>
    </select>
  </div>

  <div class="form-group">
    <label for="comments">Comments for the instructors.</label>
    <textarea name="comments" ng-model="comments"></textarea>
  </div>
  
  <button type="submit" class="btn btn-default">Submit!</button>
  
</form>