<div class="container">
  <h1>Create Project Groups</h1>
  <div>
    <p>Upload .csv file of group data (unnecessary if you've filled out the form)</p>
    <div class="btn btn-default" ngf-select="uploadGroup($file)">Upload Group File</div>
    <p>Upload .csv file of student survey answers (unnecessary if students used this site to complete their responses)</p>
    <div class="btn btn-default" ngf-select="uploadStudent($file)">Upload Student File</div>
    <div class="btn btn-default" ng-click="createGroups()">Create Groups!</div>
  </div>
</div>