<!-- dashboard.html -->
<div class="container">
	<h4>Instructor Dashboard</h4>
	<h5>Hello, {{givenName}}</h5>

  <div class="col s12 m7">
    <div class="card horizontal">
<!--       <div class="card-image">
        <img src="http://lorempixel.com/100/190/nature/6">
      </div> -->
      <div class="card-stacked">
        <div class="card-content">
        	
        	<h5>CSCI 4318 Senior Projects</h5>
        	<ul>	
	        	<li>Teacher: Trevor Dimartino</li>
						<li>Teacher: Richard Parker</li>
						<li>Teacher: Matthew Whitlock</li>
					</ul>
          <h5>Course Description</h5>
          <p>Senior Software Engineering Project is a year long course in which students work in teams on a real-life project from industry, University affiliate, or non-profit organization. Rather than participate as a team member, students with significant full-time work experience as a software developer take the fall portion of the course working as mentors for teams. Students working on interdisciplinary projects in other departments take the fall portion of the course with their project component satisfied in another department.</p>
        </div>
        <div class="card-action grey lighten-4">
        <!-- <span class="white-text"> -->
          <a href="#createSurvey">Create Survey</a>
          <a href="">Class site</a>
          <a href="#formGroups">Create Groups</a>
          <!-- </span> -->
        </div>
      </div>
    </div>
  </div>
	 	
	<!-- {{message}} -->
</div>
