<!-- login.html -->
    <div class="container">

      <div class="row">

      <div class="col s3">
      </div>

        <div class="col s6">
          <center>
          <div class="card-panel grey lighten-4">

            <img src="../static/images/brownhatsmall.png" alt="Sorting Hat Logo" style="width:100px; height:100px">
            <h5>Sign in to Sorting Hat</h5>
            <p>Use your Colorado account to log in.</p>

            <form method="post" action="/dashboard">

                  <div ng-controller="GoogleCtrl">
                    <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true" data-theme="dark" ></div>
                  </div>

            </form>

          </div>
          </center>
        </div>

        <div class="col s3">
        </div>

      </div>
    </div>


  </center>


<!-- Google API -->
<script src="https://apis.google.com/js/platform.js" async defer></script>


