/* Custom Stylesheet */

/*
CU Colors
CU GOLD: #CFB87C
Black: #000000
CU Dark Gray: #565A5C
CU Light Gray: #A2A4A3

Black Alternative: #212121;
*/

@font-face {
    font-family: Slabo;
    src: url(../fonts/slabo27px/Slabo27px-Regular.ttf);
}


.container mainContent {
  padding-top: 200px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.secondary-text {
  color: #9e9e9e;
}

label {
    
    color: black;
}

nav {

  background-color: #212121; 
}

nav ul li:hover {
   background-color: #CFB87C;
}

nav .nav-wrapper .brand-logo img {
    height: 42px;
    width: 42px;
    vertical-align: middle;
    font-family: Slabo;
}


footer.page-footer {
  /*padding-top: 20px;*/
  background-color: #CFB87C;
  
}


footer.page-footer .footer-copyright {
  padding: 0px 0px;
  background-color: #212121;
}

.z-depth-1 {
  display: inline-block;
  padding: 32px 48px 32px 48px;
  border: 1px solid #EEE;
}

.label-danger {
  color: red;
}

.carousel-slider {
    /*height: 800px !important;*/
    
}

/*.carousel.carousel-slider .carousel-fixed-item.with-indicators {
     bottom: 15px; 
}*/

.carousel .indicators .indicator-item {
    margin: 4px 4px;

}