/* Custom Stylesheet */

/*
CU Colors
CU GOLD: #CFB87C
Black: #000000
CU Dark Gray: #565A5C
CU Light Gray: #A2A4A3

Black Alternative: #212121;
*/

@font-face {
    font-family: Slabo;
    src: url(../fonts/slabo27px/Slabo27px-Regular.ttf);
}


.container mainContent {
  padding-top: 200px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.secondary-text {
  color: #9e9e9e;
}

label {
    
    color: black;
}

nav {

  background-color: #212121; 
}

nav ul li:hover {
   background-color: #CFB87C;
}

nav .nav-wrapper .brand-logo img {
    height: 42px;
    width: 42px;
    vertical-align: middle;
    font-family: Slabo;
}


footer.page-footer {
  /*padding-top: 20px;*/
  background-color: #CFB87C;
  
}


footer.page-footer .footer-copyright {
  padding: 0px 0px;
  background-color: #212121;
}

.z-depth-1 {
  display: inline-block;
  padding: 32px 48px 32px 48px;
  border: 1px solid #EEE;
}

.label-danger {
  color: red;
}

.carousel-slider {
    /*height: 800px !important;*/
    
}

/*.carousel.carousel-slider .carousel-fixed-item.with-indicators {
     bottom: 15px; 
}*/

/*.carousel .indicators .indicator-item {
    margin: 4px 4px;

}*/


.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: black;
    text-transform: uppercase;

}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #ab47bc ;
    left: 24px;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #ab47bc ;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #ab47bc;
  border-bottom: 2px solid #ab47bc;
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
    background-color: #ab47bc;
}

.btn:hover {
    background-color: #7a3686;
}

.btn {
    background-color: #ab47bf;
}

[type="radio"].with-gap:checked + label:after {
    background-color: #ab47bf;
}

[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border: 2px solid #ab47bf;
}